html {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  color: #212121;
}
.unstyled-list {
  list-style: none;
}
.top {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  text-decoration: none;
  background: #ffffff;
}

.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.logo::after {
  content: "Studio";
  color: #212121;
}

.name {
  position: absolute;
  width: 42px;
  height: 16px;
  left: 453px;
  top: 32px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.portofoliu {
  position: absolute;
  width: 58px;
  height: 16px;
  left: 545px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.contact {
  position: absolute;
  width: 59px;
  height: 16px;
  left: 653px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.email {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1097px;
  top: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.phone {
  position: absolute;
  width: 113px;
  height: 16px;
  left: 1272px;
  top: 32px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

.section-1 {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.buton {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 380px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
}
.buton:hover {
  color: black;
  background-color: #2196f3;
}

.title-1 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.paragraf-1 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-2 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.paragraf-2 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-3 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.paragraf-3 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-4 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1115px;
  top: 774px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.paragraf-4 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-3 {
  width: 1170px;
  height: 386px;
  left: 215px;
  top: 969px;
}
.job-section {
  position: relative;
  width: 198px;
  height: 42px;
  left: 701px;
  top: 935px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.photo-1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
  background: url(.jpg);
  mix-blend-mode: normal;
}
.photo-2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 615px;
  top: 1061px;
  background: url(.jpg);
}
.photo-3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
  background: url(.jpg);
}

.team {
  position: absolute;
  width: 165px;
  height: 42px;
  left: 718px;
  right: 717px;
  top: 1500px;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}
.christofer {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 215px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.name-chris,
.name-kylie,
.name-ryan,
.name-tyler {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
}
.job-chris,
.job-kylie,
.job-ryan,
.job-tyler {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.kylie {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 515px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.ryan {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 815px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.taylor {
  position: absolute;
  width: 270px;
  height: 368px;
  left: 1115px;
  top: 1635px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.footer {
  position: absolute;
  width: 1600px;
  height: 251px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}

.logo-footer {
  text-decoration: none;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 2157px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-footer::after {
  content: "Studio";
  color: #ffffff;
}
.address-footer {
  position: absolute;
  width: 231px;
  height: 72px;
  left: 215px;
  top: 119px;
  color: black;
  font-family: "Roboto";
  font-style: normal;
}
.location-footer {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;

  width: 207px;
  height: 16px;
  left: 215px;
  top: 2216px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.email-footer {
  text-decoration: none;
  width: 231px;
  height: 16px;
  left: 215px;
  top: 2244px;
  font-family: "Roboto";
  font-style: normal;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.phone-footer {
  text-decoration: none;
  width: 231px;
  height: 16px;
  left: 215px;
  top: 2272px;
  font-family: "Roboto";
  font-style: normal;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.button-portofolio {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
  top: 174px;
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
}
.button-portofolio:hover {
  background-color: #2196f3;
}

.button-all {
  position: absolute;
  width: 64px;
  left: 542px;
}
.button-websites {
  position: absolute;
  width: 120px;
  left: 614px;
}
.button-apps {
  position: absolute;
  width: 83px;

  left: 742px;
}
.button-design {
  position: absolute;
  width: 96px;
  left: 833px;
}
.button-marketing {
  position: absolute;
  width: 121px;
  left: 937px;
}
.card-portofolio {
  box-sizing: border-box;
  position: absolute;
  width: 370px;
  height: 404px;
  background: #ffffff;
  border: 1px solid #eeeeee;
}
.card-technoduck {
  left: 215px;
  top: 262px;
}
.card-poster {
  left: 615px;
  top: 262px;
}
.card-seafood {
  left: 1015px;
  top: 262px;
}
.card-prime {
  left: 215px;
  top: 696px;
}
.card-boxes {
  left: 615px;
  top: 698px;
}
.card-inspiration {
  left: 1015px;
  top: 696px;
}
.card-limited {
  left: 215px;
  top: 1130px;
}
.card-lab {
  left: 615px;
  top: 1130px;
}
.card-business {
  left: 1015px;
  top: 1130px;
}

.images-portofolio {
  left: 215px;
  top: 262px;
  background: url(.jpg);
}
.title-card {
  width: 322px;
  height: 36px;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.text-card {
  width: 322px;
  height: 30px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
}
.title-technoduck {
  left: 500px;
  top: 576px;
}
.text-technoduck {
  left: 239px;
  top: 616px;
}

.title-poster {
  left: 639px;
  top: 576px;
}
.text-poster {
  left: 639px;
  top: 616px;
}

.title-seafood {
  left: 1039px;
  top: 576px;
}
.text-seafood {
  left: 1039px;
  top: 616px;
}

.title-prime {
  left: 239px;
  top: 1010px;
}
.text-prime {
  left: 239px;
  top: 1050px;
}

.title-boxes {
  left: 639px;
  top: 1010px;
}
.text-boxes {
  left: 639px;
  top: 1050px;
}

.title-inspiration {
  left: 1039px;
  top: 1010px;
}
.text-inspiration {
  left: 1039px;
  top: 1050px;
}

.title-limited {
  left: 239px;
  top: 1444px;
}
.text-limited {
  left: 239px;
  top: 1484px;
}

.title-lab {
  left: 639px;
  top: 1444px;
}
.text-lab {
  left: 639px;
  top: 1484px;
}

.title-business {
  left: 1039px;
  top: 1444px;
}
.text-business {
  left: 1039px;
  top: 1484px;
}
.footer-portofolio {
  position: absolute;
  width: 1600px;
  height: 251px;
  left: 0px;
  top: 1628px;
  font-family: "Roboto";
  background: #2f303a;
}
.logo-footer-portofolio {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 1688px;
  font-family: "Raleway";
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #2196f3;
}
.logo-footer-portofolio::after {
  content: "Studio";
  color: white;
}
.location-footer-portofolio {
  width: 207px;
  height: 16px;
  left: 215px;
  top: 1747px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.email-footer-portofolio {
  width: 231px;
  height: 16px;
  left: 215px;
  top: 1775px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.phone-footer-portofolio {
  width: 231px;
  height: 16px;
  left: 215px;
  top: 1803px;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;

  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.hoover:hover {
  color: #2196f3;
}
